DATABASE_URL=
AUTH_SECRET=
APP_URL=
PREVIEW_ADMIN_BYPASS=

PAYMENT_PROVIDER=
PAYMENT_SECRET_KEY=
PAYMENT_PUBLIC_KEY=
PAYMENT_WEBHOOK_SECRET=
PAYMOB_BASE_URL=
PAYMOB_INTEGRATION_ID_CARD=
PAYMOB_INTEGRATION_ID_WALLET=
PAYMOB_INTEGRATION_ID_KIOSK=

VIDEO_STORAGE_ENDPOINT=
VIDEO_STORAGE_BUCKET=
VIDEO_STORAGE_REGION=
VIDEO_STORAGE_ACCESS_KEY=
VIDEO_STORAGE_SECRET_KEY=
VIDEO_STORAGE_FORCE_PATH_STYLE=

INITIAL_ADMIN_NAME=
INITIAL_ADMIN_PHONE=
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
SEED_DEMO=
